
.container-header{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    text-align: center !important;
    display: flex;
    color: #FFFFFF; 
    height:40px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center ;
    padding: 0 60px; 
    background-color: #181818;


}

.btn {
    weight:15px;
    height:25px;
    margin-left: 16px;
    background: transparent;
    color: #FFFFFF !important;
    border:none;
    padding: 0px 5px !important;
    align-items: center
}
 
.btn:hover{
    background-color: #F1889B !important;
    transition: background-color 0.6s ease;
    border: none;
}


@media (max-width: 1000px) { 
        .container-div{
            display:flex;
            display:none !important;
            justify-content: space-between;
            width: 100% ;
            padding: 0 !important; 
            }

            .header{
                padding: 0; 
                display: flex;   
            }  
            
            .dropdown{
                display:none ;
            }
            
            
    }
  
            @media (min-width: 1000px) { 
                    .dropdown{
                        display:none !important;
                    
                        .dropdown{
                            display:flex !important;
                }
            
                .drop{
                    visibility:visible !important;
                }
            }      
            }