.container-iam{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 37px;
color: #FFFFFF;
weight:100%;
display:flex;
height: auto;
border: 1px solid #F1889B;
padding: 44px;
flex-direction: column;

}

.container-information{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
width: 631px;
height: 192px;
margin-top:25px;

}
.container-code{
    width:100%;
    height: auto;
    top:608px;
    left:289px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container-I{
 color: #F1889B; 
 font-size: 48px;

}
@media (max-width: 576px) { 

    .container-code{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
            
    .container-iam{
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top:30px;
}
    .container-information{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    font-size:16px;
}

}
@media (max-width: 1200px) { 
    .container-code{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
    .container-iam{
        padding: 0px !important;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top:30px;
    }
    .container-information{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px;
        font-size:20px;
    }
    
}